# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/

# Frontend
node_modules/
npm-debug.log
yarn-error.log
.yarn-integrity

# Python
.venv/
venv/
ENV/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

